.DropDown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  .Visitors {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .guest-list {
    position: absolute;
    z-index: 99;
    top: 44px;
    width: inherit;
    user-select: none;
    height: 159px;
    background-color: #fff;
    &-container {
      margin-top: 5px;
    }
    .guest-list-adults {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        .minus,
        .plus {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          color: #1f2041;
          cursor: pointer;
          border: 1px solid;
          border-color: #1f2041;
          opacity: 0.25;
          border-radius: 22px;
          margin: 3px 10px 3px 10px;
          &.clicked {
            color: #1f2041;
            border-color: #1f2041;
            opacity: 0.5;
          }
        }
        .plus {
          margin-right: 0;
        }
      }
    }
    .list-buttons {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      h3 {
        cursor: pointer;
        color: #bc9cff;
      }
    }
  }
}
