.Page {
  display: flex;
  flex-direction: column;
  margin-top: 142px;
  margin-left: 137px;
  margin-right: 137px;
}

.text-field,
.text-dropdown {
  display: inline-flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}
.text-dropdown {
  width: 266px;
}

.input-box {
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 12px;
  padding-right: 14px;

  &:focus,
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline-width: 0;
  }
}
