.RadioButtons {
  display: flex;
  input {
    display: none;
  }
  span {
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);

    margin-right: 15px;
  }
  span::before {
    content: "";
    width: 20px;
    height: 20px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
  }

  #men:checked,
  #women:checked {
    + label span::before {
      border: 1px solid #bc9cff;
      background-image: url("../../img/circle.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
