.Subscription {
  position: relative;
  width: 267px;

  input {
    width: 267px;
  }
}

.arrow-button {
  position: absolute;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("../../img/arrow_forward.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(-32px, 13px);
}
