.Buttons {
  width: 320px;
  margin: 20px 0 20px 0;

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    div:nth-child(1) {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

.full,
.border,
.none,
.go-to-pay {
  border-radius: 22px;

  width: 99px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
  height: 44px;
  margin: 10px 0 10px 0;
  &:hover {
    opacity: 1;
  }
}

.full {
  color: #ffffff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
}
.border {
  background: white;
  border: 2px solid;

  color: #bc9cff;
  border-color: rgba(187, 155, 255, 0.5);
  &:hover {
    border-color: rgba(187, 155, 255, 1);
  }
}
.none {
  color: rgba(31, 32, 65, 0.5);
  background: white;

  &:hover {
    color: #bc9cff;
  }
}

.go-to-pay {
  width: 320px;
  color: #ffffff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    right: 22px;
    background-image: url("../../img/arrow_forward_white.svg");
  }
}
