.ExpandableCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  cursor: pointer;
  img {
    padding-right: 15px;
  }
  .arrow {
    transform: rotateX(180deg);
  }
}
