.Checkbox {
  width: 320px;
  margin: 20px 0 20px 0;
  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    div:nth-child(1) {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.check-list {
  display: flex;
  flex-direction: column;

  .checkbox {
    display: none;
  }
  .checkbox + span {
    display: inline-flex;
    align-items: flex-start;
    width: 240px;
    margin: 5px 0 5px 0;
    user-select: none;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
  }
  .checkbox + span::before {
    content: "";
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-right: 15px;
  }
  .checkbox + .checked::before {
    border: 1px solid #bc9cff;
    box-sizing: border-box;
    border-radius: 4px;

    background-image: url("../../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
