.RateButton {
  position: relative;
  width: 120px;
  display: flex;
  transform: rotateY(180deg) translatex(4px);
  div {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("../../img/star_border.svg");
    background-repeat: no-repeat;
  }

  .star-1:hover,
  .star-2:hover,
  .star-3:hover,
  .star-4:hover,
  .star-5:hover {
    background-image: url("../../img/star.svg");
    ~ * {
      background-image: url("../../img/star.svg");
    }
  }
  .active {
    background-image: url("../../img/star.svg");
  }
}
