.RangeSlider {
  width: 320px;
  margin: 20px 0 20px 0;

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    div:nth-child(1) {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
