@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 28px;
  top: 28px;
}
