@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.App {
  .logo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 28px;
    top: 28px;
  }
}
.Page {
  display: flex;
  flex-direction: column;
  margin-top: 142px;
  margin-left: 137px;
  margin-right: 137px;
  * {
    h1 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
    h2 {
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #000000;
    }
    h3 {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #000000;
    }
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.75);
    }
  }
  > div {
    margin: 10px 0 10px 0;
  }
}

.text-field {
  display: inline-flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}
