.Specifications {
  width: 280px;
  &-list-item {
    position: relative;
    margin-bottom: 20px;
    > div {
      display: flex;

      img {
        object-fit: contain;
      }
      .text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p,
        h3 {
          margin: 0;
          padding: 0;
          font-size: 14px;
          line-height: 24px;
          color: rgba(31, 32, 65, 0.75);
          text-transform: none;
        }
      }
    }

    .underline {
      margin-top: 20px;
      background: rgba(31, 32, 65, 0.1);
      height: 2px;
      width: 100%;
    }
  }
}
